.PlannerPanels {
  text-align: center;
  box-shadow: 8px 8px 8px rgba(12, 0, 124, 0.3);
  background: rgba(43, 173, 248, 0.4);
  border: solid rgb(127, 136, 146) 2px;
  border-radius: 4px;
  padding: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

.DayPlanner-day {
  color: rgb(4, 16, 85);
}

.DayPlanner-temps {
  color: floralwhite;
  font-size: 20px;
  text-shadow: 2px 3px rgb(7, 7, 7);
}

.minTemp {
  color: rgb(195, 234, 255);
  padding-left: 10px;
}
