.WeatherConditions li {
  list-style-type: none;
  color: rgb(4, 16, 85);
  font-size: 22px;
  padding-right: 10px;
  
}

.Conditions {
  color: rgb(198, 234, 255);
  text-shadow: 2px 3px rgb(7, 7, 7);
}

h2 {
  color: floralwhite;
  text-shadow: 2px 3px rgb(7, 7, 7);
}

.WeatherConditions .Card.Leftside {
  background: rgba(116, 200, 248, 0.3);
  box-shadow: 8px 8px 8px rgba(12, 0, 124, 0.3);
  border: solid rgb(127, 136, 146) 2px;
  border-radius: 4px;
  padding: 20px;
  border: none;
  margin-left: 20px;
}

.row {
  padding-top: 0px; margin-top: 0;
}
 
.Card.Rightside {
  box-shadow: 8px 8px 8px rgba(12, 0, 124, 0.3);
  background: rgba(116, 200, 248, 0.3);
  border: solid rgb(127, 136, 146) 2px;
  border: none;
  border-radius: 4px;
  padding-top: 20px;
  padding-left: 13px;
  padding-bottom: 13px;
  margin-right: 20px;
} 

.float-left {
  padding-left: 25px;
}

.mainTemperature {
  color: rgb(4, 16, 85);
  font-size: 100px;
}

.unit {
  font-size: 20px;
  position: relative;
  top: -53px;
  right: -10px;
}